*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 3fr ;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    grid-template-areas: "nav nav"
                             "sidebar main"
                             "footer footer";
                             
}

.header{
    grid-area: nav;

}
ul li a{
    text-decoration: none;
}

.navbar h3 {
    color: aqua;
}
.navbar h3 span{
    color: chartreuse;
}

.navbar{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    border: solid rgb(223, 26, 177);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 0 20px;
}

.menu-icon{
    width: 20px;
    display:none;
    cursor: pointer;
}


.sidebar{
    grid-area: sidebar;
    border: 1px solid gray;
}

.main{
    grid-area: main;
    border: 1px dashed blue;
}

.footer{
    grid-area: footer;
    display: flex;
    justify-content: center;

}
/*phone ka sara design ka system yahn likhna hota h */
@media screen and (max-width : 425px) , (orientation: portrait){
    .container{
        grid-template-columns: 1fr ;
        grid-template-rows: 0.5fr 1fr 3fr 0.5fr;
        grid-template-areas: 
                            "nav"
                            "sidebar"
                            "main"  
                            "footer";
    }
    .navbar ul{
        display: none;
    }
    .menu-icon{
        display: block;
    }
}