*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board{  /*also called parent */
    width: 50vw;
    height: 200px;
    background-color: black;
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pin{
    width:50px;
    height: 50px;
    background-color: red;
    color: aquamarine;  
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
}